html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background: antiquewhite;
    display: grid;
    place-items: center;
}

.scene {
    height: 80%;
    width: 80%;
    background:lightblue;
    clip-path: circle(1% at center);
    transition: 4s;
}
.scene:hover {
    clip-path: circle(100% at center);
}