/* MODE PAR DEFAUT ou SCHEME LIGHT ou MODE CLAIR */
:root, :root.clair 
{
  --texteMax: black;
  --fondMax: #fefefe;
  --fondMed: rgb(178, 178, 178);
  --texteBleu: rgb(24, 46, 216);
}

/* SCHEME DARK */

@media (prefers-color-scheme: dark) 
{
  :root 
  {
    --texteMax: #fefefe;
    --fondMax: black;
    --fondMed:rgb(50, 54, 58);
    --texteBleu: rgb(69, 89, 181);
  }
}

/* MODE SOMBRE */

:root.sombre 
{
  --texteMax: #fefefe;
  --fondMax: black;
  --fondMed: rgb(50, 54, 58);
  --texteBleu: rgb(69, 89, 181);
}

/* COMMANDES GLOBALES */

a, a:visited 
{
  color: var(--texteBleu);
  font-size : 1.2em;
  font-weight: bold;
  text-decoration: none;
}

a:hover 
{
  font-size: 1.3em;  
}

/* HEADER */

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.bjbn 
{
  text-align: center;
  height:50px;
  width: 300px;
  border-radius: 100px;
  padding-top: 10px;
  margin-top:20px ;
  background-color:var(--fondMed);
  border:solid var(--texteMax) 5px;
}

nav ul 
{
  display:grid;
  grid-template-rows: repeat(4, 30px);
  grid-template-columns: repeat(4, 1fr);
  position: absolute;
  top:50px;
  left:20px;
  height:120px;
  width:100px;  
  background-color:var(--fondMed);
  border:solid var(--texteMax) 5px;
  padding: 5px;
  list-style: none;
}

ul li:nth-child(1) 
{
  grid-column: 1;
  grid-row: 1;
}

ul li:nth-child(2) 
{
  grid-column: 1;
  grid-row: 2;
}

ul li:nth-child(3) 
{
  grid-column: 1;
  grid-row: 3;
}

ul li:nth-child(4) 
{
  grid-column: 1;
  grid-row: 4;
}

/* LAMPE */

#themeCheckboxIndex 
{
  visibility: hidden;
}

.cordelette 
{
  position:absolute;
  display:block;
  cursor: pointer;
  z-index: 2;
  top:0px;
  right:20px;
  background-image:url(../img/cordelette.png);
  background-repeat: no-repeat;
  height:250px;;
  width:25px;
}

.lampe 
{  
  position:absolute;
  display:block;
  z-index: 3;
  top:0px;
  right:5px;
  background-image:url(../img/lampe.png);
  background-repeat: no-repeat;
  height:182px;
  width: 140px;
}

.lumiere 
{
  position:absolute;
  display:block;
  z-index: 1;
  top:50px;
  right:0px;
  height: 200px;
  width:200px;
  border-radius: 50%;
  opacity: 1;
  background-image:url('../img/lumiereronde.png');
  background-repeat: no-repeat;
  object-fit: scale-down;
  background-position: 100%;
}

/* BODY */

body 
{
  color: var(--texteMax);
  background-color: var(--fondMax);
  transition: 0.75s;
}

div 
{
  color: var(--texteMax);
  background-color: var(--fondMax);
  transition: 0.75s;
}

/* FOOTER */