html, body {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    height: 100%;
    width: 100vw;
    background:linear-gradient(to top left, rgb(75, 125, 255), rgb(125, 125, 255), rgb(125, 75, 255));
    display: grid;
    place-content: center;
}

#scene {
    height:110px;
    width: 250px;
    perspective: 2000px;
    perspective-origin: top;
    display: grid;
    place-content: center;
    border-radius: 50%;
}

span {
    box-shadow: 0px 0px 2px 3px rgba(245, 245, 245, 0.95);
}

#sc span {
    background:linear-gradient(to top left, rgba(255, 255, 254, 0.1), rgba(255, 252, 237, 0.1), rgba(226, 225, 221, 0.1));;

}

#cup span {
    background-color: rgba(28, 22, 14, 0.01);
}

#sc {
    transform-style:preserve-3d;
    position: absolute;
    top:75px;
    left:120px;
    height:200px;
    width: 200px;
    transform: translate(-50%, -50%) rotateX(80deg);

    #sc1 {
        position: relative;
        transform-style: preserve-3d;
        top:-1px;
        left:-1px;
        height: 200px;
        width: 200px;
        border-radius: 50%;
        border: 1px solid whitesmoke;
        transform: translateZ(0px);
        color:hsl(0, 1%, 35%);

        @for $i from 1 through 60 {
            span:nth-of-type(#{$i}) {
                position: absolute;
                top:(-1 + $i) * 1px;
                left:(-1 + $i) * 1px;
                height:(200 - (2 * $i))* 1px;
                width: (200 - (2 * $i))* 1px;
                border-radius: 50%;
                border: 1px solid hsl(190, 10%, ((100 - 0.5 * $i) * 1%));
                transform: translateZ(-0.2px * $i) ;
            }
        }    
    }

    #sc2 {
        position: relative;
        transform-style: preserve-3d;
        top:-144px;
        left:58px;
        height: 82px;
        width: 82px;
        border-radius: 50%;
        border: 1px solid whitesmoke;
        transform: translateZ(-12px);

        @for $i from 1 through 40 {
            span:nth-of-type(#{$i}) {
                position: absolute;
                top:(-1 + $i) * .25px;
                left:(-1 + $i) * .25px;
                height:(80 - (.5 * $i))* 1px;
                width: (80 - (.5 * $i))* 1px;
                border-radius: 50%;
                border: 1px solid hsl(190, 10%, ((70 - (0.5 *$i)) * 1%));
                transform: translateZ(-.25px * $i);
            }
        }    
    }

    #sc3 {
        position: relative;
        transform-style: preserve-3d;
        top:-217px;
        left:69px;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        border: 1px solid hsl(0, 0%, 65%);
        transform: translateZ(-22px);

        @for $i from 1 through 30 {
            span:nth-of-type(#{$i}) {
                position: absolute;
                top:(-1 + $i) * 1px;
                left:(-1 + $i) * 1px;
                height:(60 - (2 * $i))* 1px;
                width: (60 - (2 * $i))* 1px;
                border-radius: 50%;
                border: 1px solid hsl(190, 10%, ((50 + 2 * $i) * 1%));
            }
        }    
    }
}

@keyframes soucoupe {
    0% {
        transform: translate(-50%, -50%) rotateX(80deg) rotateY(0deg);
    }

    5% {
        transform: translate(-50%, -50%)  rotateX(70deg) rotateY(10deg);
    }

    10% {
        transform: translate(-50%, -50%)  rotateX(80deg) rotateY(0deg);
    }

    15% {
        transform: translate(-50%, -50%)  rotateX(90deg) rotateY(-10deg);
    }

    20% {
        transform: translate(-50%, -50%)  rotateX(80deg) rotateY(0deg);
    }

    80% {
        transform: translate(-50%, -50%)  rotateX(80deg) rotateY(0deg);
    }

    82.5% {
        transform: translate(-50%, -50%)  rotateX(78deg) rotateY(4deg);
    }

    85% {
        transform: translate(-50%, -50%)  rotateX(80deg) rotateY(0deg);
    }

    87.5% {
        transform: translate(-50%, -50%)  rotateX(82deg) rotateY(-4deg);
    }

    90% {
        transform: translate(-50%, -50%)  rotateX(80deg) rotateY(0deg);
    }

    92.5% {
        transform: translate(-50%, -50%)  rotateX(78deg) rotateY(-4deg);
    }

    95% {
        transform: translate(-50%, -50%)  rotateX(80deg) rotateY(0deg);
    }

    97.5% {
        transform: translate(-50%, -50%)  rotateX(82deg) rotateY(4deg);
    }

    100% {
        transform: translate(-50%, -50%) rotateX(80deg) rotateY(0deg);
    }
}

@keyframes tasse {

    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0px) rotateX(80deg) rotateY(0deg);
    }
    
    10% {
        transform: translateX(-40%) translateY(-60%) translateZ(100px) rotateX(85deg) rotateY(0deg);
    }

    20% {
        transform: translateX(-30%) translateY(-70%) translateZ(200px) rotateX(85deg) rotateY(0deg);
    }

    40% {
        transform: translateX(-30%) translateY(-70%) translateZ(200px) rotateX(-20deg) rotateY(40deg);
    }

    60% {
        transform: translateX(-30%) translateY(-70%) translateZ(200px) rotateX(85deg) rotateY(0deg);
    }

    70% {
        transform: translateX(-40%) translateY(-60%) translateZ(100px) rotateX(85deg) rotateY(0deg);
    }

    80% {
        transform: translate(-50%, -50%)  rotateX(80deg) rotateY(0deg);
    }

    82.5% {
        transform: translate(-50%, -50%)  rotateX(78deg) rotateY(4deg);
    }

    85% {
        transform: translate(-50%, -50%)  rotateX(80deg) rotateY(0deg);
    }

    87.5% {
        transform: translate(-50%, -50%)  rotateX(82deg) rotateY(-4deg);
    }

    90% {
        transform: translate(-50%, -50%)  rotateX(80deg) rotateY(0deg);
    }

    92.5% {
        transform: translate(-50%, -50%)  rotateX(78deg) rotateY(-4deg);
    }

    95% {
        transform: translate(-50%, -50%)  rotateX(80deg) rotateY(0deg);
    }

    97.5% {
        transform: translate(-50%, -50%)  rotateX(82deg) rotateY(4deg);
    }

    100% {
        transform: translate(-50%, -50%) rotateX(80deg) rotateY(0deg);
    }
}

@keyframes hover {
    0% {
        transform: translate(-50%, -50%) rotateX(80deg) rotateY(0deg);
    }

    25% {
        transform: translate(-50%, -50%)  rotateX(75deg) rotateY(5deg);
    }

    50% {
        transform: translate(-50%, -50%)  rotateX(85deg) rotateY(0deg);
    }

    75% {
        transform: translate(-50%, -50%)  rotateX(75deg) rotateY(-5deg);
    }

    100% {
        transform: translate(-50%, -50%)  rotateX(80deg) rotateY(0deg);
    }
}

#cup {
    transform-style:preserve-3d;
    position: absolute;
    position: absolute;
    top:75px;
    left:120px;
    height:200px;
    width: 200px;
    transform: translate(-50%, -50%) rotateX(80deg) rotateY(0deg);

    #cup1 {
        position: relative;
        top:69px;
        left:69px;
        height: 59px;
        width: 59px;
        border-radius: 50%;
        border: 1px solid hsl(0, 0%, 65%);
        transform: translateZ(-20px);

        @for $i from 1 through 30 {
            span:nth-of-type(#{$i}) {
                position: absolute;
                top:(-1 + $i) * 1px;
                left:(-1 + $i) * 1px;
                height:(59 - (2 * $i))* 1px;
                width: (59 - (2 * $i))* 1px;
                border-radius: 50%;
                border: 1px solid hsl(190, 0%, ((50 + 2 * $i) * 1%));
            }
        }    
    }

    #cup2 {
        position: relative;
        transform-style: preserve-3d;
        top:-3px;
        left:58px;
        height: 80px;
        width: 80px;
        border-radius: 50%;
        border: 1px solid hsl(190, 10%, 70%);
        transform: translateZ(-12px);

        @for $i from 1 through 40 {
            span:nth-of-type(#{$i}) {
                position: absolute;
                top:(-1.75 + $i) * .25px;
                left:(-1.75 + $i) * .25px;
                height:(80 - (.5 * $i))* 1px;
                width: (80 - (.5 * $i))* 1px;
                border-radius: 50%;
                border: 1px solid hsl(190, 10%, ((70 - (0.5 *$i)) * 1%));
                transform: translateZ(-.2px * $i);
            }
        }    
    }

    #cup3 {
        position: relative;
        transform-style: preserve-3d;
        top:-85px;
        left:58px;
        height: 80px;
        width: 80px;
        border-radius: 50%;
        border: 1px solid hsl(0, 10%, 50%);
        transform: translateZ(-12px);

        @for $i from 1 through 90 {
            span:nth-of-type(#{$i}) {
                position: absolute;
                top:(-1 - (0.11 * $i)) * 1px;
                left:(-1 - (0.11 * $i)) * 1px;
                height:(80 + (0.22 * $i))* 1px;
                width: (80 + (0.22 * $i))* 1px;
                border-radius: 50%;
                border: 1px solid hsl(190, 10%, ((50 + .25 * $i) * 1%));
                transform: translateZ(.3px * $i);
            }
        }    
    }

    #cup4 {
        position: relative;
        transform-style: preserve-3d;
        top:-178px;
        left:48px;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        border: 1px solid hsl(0, 10%, 73%);
        transform: translateZ(15px);

        @for $i from 1 through 180 {
            span:nth-of-type(#{$i}) {
                position: absolute;
                top:(-1 - (0.06 * $i)) * 1px;
                left:(-1 - (0.06 * $i)) * 1px;
                height:(100 + (0.12 * $i))* 1px;
                width: (100 + (0.12 * $i))* 1px;
                border-radius: 50%;
                border: 1px solid hsl(190, 10%, ((73 + .1 * $i) * 1%));
                transform: translateZ(.25px * $i);
            }
        }    
    }
}

#scene:hover {
    cursor: pointer;
}

#scene:hover #sc, #scene:hover #cup {
    animation: hover 4s ease-in-out infinite ;
}

#scene:active #sc {
    animation: soucoupe 8s linear ;
}

#scene:active #cup {
    animation: tasse 8s linear ;
}
