html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  height: 100%;
  width: 100vw;
  background: linear-gradient(to top left, rgb(75, 125, 255), rgb(125, 125, 255), rgb(125, 75, 255));
  display: grid;
  place-content: center;
}

#scene {
  height: 500Px;
  width: 750px;
  border: 1px solid black;
  perspective: 700px;
  display: grid;
  place-content: center;
}

#sc {
  transform-style: preserve-3d;
  position: relative;
  height: 200px;
  width: 200px;
  border: 1px solid rgb(0, 0, 0);
  -webkit-animation: soucoupe 20s linear infinite;
          animation: soucoupe 20s linear infinite;
  transform: rotateX(70deg);
}
#sc #sc1 {
  position: relative;
  transform-style: preserve-3d;
  top: 0;
  left: 0;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  transform: translateZ(0px);
  color: hsl(0deg, 1%, 35%);
}
#sc #sc1 span:nth-of-type(1) {
  position: absolute;
  top: 1px;
  left: 1px;
  height: 198px;
  width: 198px;
  border-radius: 50%;
  border: 1px solid hsl(190deg, 10%, 99%);
  transform: translateZ(-0.2px);
}
#sc #sc1 span:nth-of-type(2) {
  position: absolute;
  top: 2px;
  left: 2px;
  height: 196px;
  width: 196px;
  border-radius: 50%;
  border: 1px solid hsl(190deg, 10%, 98%);
  transform: translateZ(-0.4px);
}
#sc #sc1 span:nth-of-type(3) {
  position: absolute;
  top: 3px;
  left: 3px;
  height: 194px;
  width: 194px;
  border-radius: 50%;
  border: 1px solid hsl(190deg, 10%, 97%);
  transform: translateZ(-0.6px);
}
#sc #sc1 span:nth-of-type(4) {
  position: absolute;
  top: 4px;
  left: 4px;
  height: 192px;
  width: 192px;
  border-radius: 50%;
  border: 1px solid hsl(190deg, 10%, 96%);
  transform: translateZ(-0.8px);
}
#sc #sc1 span:nth-of-type(5) {
  position: absolute;
  top: 5px;
  left: 5px;
  height: 190px;
  width: 190px;
  border-radius: 50%;
  border: 1px solid hsl(190deg, 10%, 95%);
  transform: translateZ(-1px);
}
#sc #sc1 span:nth-of-type(6) {
  position: absolute;
  top: 6px;
  left: 6px;
  height: 188px;
  width: 188px;
  border-radius: 50%;
  border: 1px solid hsl(190deg, 10%, 94%);
  transform: translateZ(-1.2px);
}
#sc #sc1 span:nth-of-type(7) {
  position: absolute;
  top: 7px;
  left: 7px;
  height: 186px;
  width: 186px;
  border-radius: 50%;
  border: 1px solid hsl(190deg, 10%, 93%);
  transform: translateZ(-1.4px);
}
#sc #sc1 span:nth-of-type(8) {
  position: absolute;
  top: 8px;
  left: 8px;
  height: 184px;
  width: 184px;
  border-radius: 50%;
  border: 1px solid hsl(190deg, 10%, 92%);
  transform: translateZ(-1.6px);
}
#sc #sc1 span:nth-of-type(9) {
  position: absolute;
  top: 9px;
  left: 9px;
  height: 182px;
  width: 182px;
  border-radius: 50%;
  border: 1px solid hsl(190deg, 10%, 91%);
  transform: translateZ(-1.8px);
}
#sc #sc1 span:nth-of-type(10) {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 180px;
  width: 180px;
  border-radius: 50%;
  border: 1px solid hsl(190deg, 10%, 90%);
  transform: translateZ(-2px);
}
#sc #sc1 span:nth-of-type(11) {
  position: absolute;
  top: 11px;
  left: 11px;
  height: 178px;
  width: 178px;
  border-radius: 50%;
  border: 1px solid hsl(190deg, 10%, 89%);
  transform: translateZ(-2.2px);
}
#sc #sc1 span:nth-of-type(12) {
  position: absolute;
  top: 12px;
  left: 12px;
  height: 176px;
  width: 176px;
  border-radius: 50%;
  border: 1px solid hsl(190deg, 10%, 88%);
  transform: translateZ(-2.4px);
}
#sc #sc1 span:nth-of-type(13) {
  position: absolute;
  top: 13px;
  left: 13px;
  height: 174px;
  width: 174px;
  border-radius: 50%;
  border: 1px solid hsl(190deg, 10%, 87%);
  transform: translateZ(-2.6px);
}
#sc #sc1 span:nth-of-type(14) {
  position: absolute;
  top: 14px;
  left: 14px;
  height: 172px;
  width: 172px;
  border-radius: 50%;
  border: 1px solid hsl(190deg, 10%, 86%);
  transform: translateZ(-2.8px);
}
#sc #sc1 span:nth-of-type(15) {
  position: absolute;
  top: 15px;
  left: 15px;
  height: 170px;
  width: 170px;
  border-radius: 50%;
  border: 1px solid hsl(190deg, 10%, 85%);
  transform: translateZ(-3px);
}
#sc #sc1 span:nth-of-type(16) {
  position: absolute;
  top: 16px;
  left: 16px;
  height: 168px;
  width: 168px;
  border-radius: 50%;
  border: 1px solid hsl(190deg, 10%, 84%);
  transform: translateZ(-3.2px);
}
#sc #sc1 span:nth-of-type(17) {
  position: absolute;
  top: 17px;
  left: 17px;
  height: 166px;
  width: 166px;
  border-radius: 50%;
  border: 1px solid hsl(190deg, 10%, 83%);
  transform: translateZ(-3.4px);
}
#sc #sc1 span:nth-of-type(18) {
  position: absolute;
  top: 18px;
  left: 18px;
  height: 164px;
  width: 164px;
  border-radius: 50%;
  border: 1px solid hsl(190deg, 10%, 82%);
  transform: translateZ(-3.6px);
}
#sc #sc1 span:nth-of-type(19) {
  position: absolute;
  top: 19px;
  left: 19px;
  height: 162px;
  width: 162px;
  border-radius: 50%;
  border: 1px solid hsl(190deg, 10%, 81%);
  transform: translateZ(-3.8px);
}
#sc #sc1 span:nth-of-type(20) {
  position: absolute;
  top: 20px;
  left: 20px;
  height: 160px;
  width: 160px;
  border-radius: 50%;
  border: 1px solid hsl(190deg, 10%, 80%);
  transform: translateZ(-4px);
}
#sc #sc1 span:nth-of-type(21) {
  position: absolute;
  top: 21px;
  left: 21px;
  height: 158px;
  width: 158px;
  border-radius: 50%;
  border: 1px solid hsl(190deg, 10%, 79%);
  transform: translateZ(-4.2px);
}
#sc #sc1 span:nth-of-type(22) {
  position: absolute;
  top: 22px;
  left: 22px;
  height: 156px;
  width: 156px;
  border-radius: 50%;
  border: 1px solid hsl(190deg, 10%, 78%);
  transform: translateZ(-4.4px);
}
#sc #sc1 span:nth-of-type(23) {
  position: absolute;
  top: 23px;
  left: 23px;
  height: 154px;
  width: 154px;
  border-radius: 50%;
  border: 1px solid hsl(190deg, 10%, 77%);
  transform: translateZ(-4.6px);
}
#sc #sc1 span:nth-of-type(24) {
  position: absolute;
  top: 24px;
  left: 24px;
  height: 152px;
  width: 152px;
  border-radius: 50%;
  border: 1px solid hsl(190deg, 10%, 76%);
  transform: translateZ(-4.8px);
}
#sc #sc1 span:nth-of-type(25) {
  position: absolute;
  top: 25px;
  left: 25px;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 1px solid hsl(190deg, 10%, 75%);
  transform: translateZ(-5px);
}
#sc #sc1 span:nth-of-type(26) {
  position: absolute;
  top: 26px;
  left: 26px;
  height: 148px;
  width: 148px;
  border-radius: 50%;
  border: 1px solid hsl(190deg, 10%, 74%);
  transform: translateZ(-5.2px);
}
#sc #sc1 span:nth-of-type(27) {
  position: absolute;
  top: 27px;
  left: 27px;
  height: 146px;
  width: 146px;
  border-radius: 50%;
  border: 1px solid hsl(190deg, 10%, 73%);
  transform: translateZ(-5.4px);
}
#sc #sc1 span:nth-of-type(28) {
  position: absolute;
  top: 28px;
  left: 28px;
  height: 144px;
  width: 144px;
  border-radius: 50%;
  border: 1px solid hsl(190deg, 10%, 72%);
  transform: translateZ(-5.6px);
}
#sc #sc1 span:nth-of-type(29) {
  position: absolute;
  top: 29px;
  left: 29px;
  height: 142px;
  width: 142px;
  border-radius: 50%;
  border: 1px solid hsl(190deg, 10%, 71%);
  transform: translateZ(-5.8px);
}
#sc #sc1 span:nth-of-type(30) {
  position: absolute;
  top: 30px;
  left: 30px;
  height: 140px;
  width: 140px;
  border-radius: 50%;
  border: 1px solid hsl(190deg, 10%, 70%);
  transform: translateZ(-6px);
}
#sc #sc1 span:nth-of-type(31) {
  position: absolute;
  top: 31px;
  left: 31px;
  height: 138px;
  width: 138px;
  border-radius: 50%;
  border: 1px solid hsl(190deg, 10%, 69%);
  transform: translateZ(-6.2px);
}
#sc #sc1 span:nth-of-type(32) {
  position: absolute;
  top: 32px;
  left: 32px;
  height: 136px;
  width: 136px;
  border-radius: 50%;
  border: 1px solid hsl(190deg, 10%, 68%);
  transform: translateZ(-6.4px);
}
#sc #sc1 span:nth-of-type(33) {
  position: absolute;
  top: 33px;
  left: 33px;
  height: 134px;
  width: 134px;
  border-radius: 50%;
  border: 1px solid hsl(190deg, 10%, 67%);
  transform: translateZ(-6.6px);
}
#sc #sc1 span:nth-of-type(34) {
  position: absolute;
  top: 34px;
  left: 34px;
  height: 132px;
  width: 132px;
  border-radius: 50%;
  border: 1px solid hsl(190deg, 10%, 66%);
  transform: translateZ(-6.8px);
}
#sc #sc1 span:nth-of-type(35) {
  position: absolute;
  top: 35px;
  left: 35px;
  height: 130px;
  width: 130px;
  border-radius: 50%;
  border: 1px solid hsl(190deg, 10%, 65%);
  transform: translateZ(-7px);
}
#sc #sc1 span:nth-of-type(36) {
  position: absolute;
  top: 36px;
  left: 36px;
  height: 128px;
  width: 128px;
  border-radius: 50%;
  border: 1px solid hsl(190deg, 10%, 64%);
  transform: translateZ(-7.2px);
}
#sc #sc1 span:nth-of-type(37) {
  position: absolute;
  top: 37px;
  left: 37px;
  height: 126px;
  width: 126px;
  border-radius: 50%;
  border: 1px solid hsl(190deg, 10%, 63%);
  transform: translateZ(-7.4px);
}
#sc #sc1 span:nth-of-type(38) {
  position: absolute;
  top: 38px;
  left: 38px;
  height: 124px;
  width: 124px;
  border-radius: 50%;
  border: 1px solid hsl(190deg, 10%, 62%);
  transform: translateZ(-7.6px);
}
#sc #sc1 span:nth-of-type(39) {
  position: absolute;
  top: 39px;
  left: 39px;
  height: 122px;
  width: 122px;
  border-radius: 50%;
  border: 1px solid hsl(190deg, 10%, 61%);
  transform: translateZ(-7.8px);
}
#sc #sc1 span:nth-of-type(40) {
  position: absolute;
  top: 40px;
  left: 40px;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: 1px solid hsl(190deg, 10%, 60%);
  transform: translateZ(-8px);
}
#sc #sc1 span:nth-of-type(41) {
  position: absolute;
  top: 41px;
  left: 41px;
  height: 118px;
  width: 118px;
  border-radius: 50%;
  border: 1px solid hsl(190deg, 10%, 59%);
  transform: translateZ(-8.2px);
}
#sc #sc1 span:nth-of-type(42) {
  position: absolute;
  top: 42px;
  left: 42px;
  height: 116px;
  width: 116px;
  border-radius: 50%;
  border: 1px solid hsl(190deg, 10%, 58%);
  transform: translateZ(-8.4px);
}
#sc #sc1 span:nth-of-type(43) {
  position: absolute;
  top: 43px;
  left: 43px;
  height: 114px;
  width: 114px;
  border-radius: 50%;
  border: 1px solid hsl(190deg, 10%, 57%);
  transform: translateZ(-8.6px);
}
#sc #sc1 span:nth-of-type(44) {
  position: absolute;
  top: 44px;
  left: 44px;
  height: 112px;
  width: 112px;
  border-radius: 50%;
  border: 1px solid hsl(190deg, 10%, 56%);
  transform: translateZ(-8.8px);
}
#sc #sc1 span:nth-of-type(45) {
  position: absolute;
  top: 45px;
  left: 45px;
  height: 110px;
  width: 110px;
  border-radius: 50%;
  border: 1px solid hsl(190deg, 10%, 55%);
  transform: translateZ(-9px);
}
#sc #sc1 span:nth-of-type(46) {
  position: absolute;
  top: 46px;
  left: 46px;
  height: 108px;
  width: 108px;
  border-radius: 50%;
  border: 1px solid hsl(190deg, 10%, 54%);
  transform: translateZ(-9.2px);
}
#sc #sc1 span:nth-of-type(47) {
  position: absolute;
  top: 47px;
  left: 47px;
  height: 106px;
  width: 106px;
  border-radius: 50%;
  border: 1px solid hsl(190deg, 10%, 53%);
  transform: translateZ(-9.4px);
}
#sc #sc1 span:nth-of-type(48) {
  position: absolute;
  top: 48px;
  left: 48px;
  height: 104px;
  width: 104px;
  border-radius: 50%;
  border: 1px solid hsl(190deg, 10%, 52%);
  transform: translateZ(-9.6px);
}
#sc #sc1 span:nth-of-type(49) {
  position: absolute;
  top: 49px;
  left: 49px;
  height: 102px;
  width: 102px;
  border-radius: 50%;
  border: 1px solid hsl(190deg, 10%, 51%);
  transform: translateZ(-9.8px);
}
#sc #sc1 span:nth-of-type(50) {
  position: absolute;
  top: 50px;
  left: 50px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 1px solid hsl(190deg, 10%, 50%);
  transform: translateZ(-10px);
}
#sc #sc1 span:nth-of-type(51) {
  position: absolute;
  top: 51px;
  left: 51px;
  height: 98px;
  width: 98px;
  border-radius: 50%;
  border: 1px solid hsl(190deg, 10%, 49%);
  transform: translateZ(-10.2px);
}
#sc #sc1 span:nth-of-type(52) {
  position: absolute;
  top: 52px;
  left: 52px;
  height: 96px;
  width: 96px;
  border-radius: 50%;
  border: 1px solid hsl(190deg, 10%, 48%);
  transform: translateZ(-10.4px);
}
#sc #sc1 span:nth-of-type(53) {
  position: absolute;
  top: 53px;
  left: 53px;
  height: 94px;
  width: 94px;
  border-radius: 50%;
  border: 1px solid hsl(190deg, 10%, 47%);
  transform: translateZ(-10.6px);
}
#sc #sc1 span:nth-of-type(54) {
  position: absolute;
  top: 54px;
  left: 54px;
  height: 92px;
  width: 92px;
  border-radius: 50%;
  border: 1px solid hsl(190deg, 10%, 46%);
  transform: translateZ(-10.8px);
}
#sc #sc1 span:nth-of-type(55) {
  position: absolute;
  top: 55px;
  left: 55px;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  border: 1px solid hsl(190deg, 10%, 45%);
  transform: translateZ(-11px);
}
#sc #sc1 span:nth-of-type(56) {
  position: absolute;
  top: 56px;
  left: 56px;
  height: 88px;
  width: 88px;
  border-radius: 50%;
  border: 1px solid hsl(190deg, 10%, 44%);
  transform: translateZ(-11.2px);
}
#sc #sc1 span:nth-of-type(57) {
  position: absolute;
  top: 57px;
  left: 57px;
  height: 86px;
  width: 86px;
  border-radius: 50%;
  border: 1px solid hsl(190deg, 10%, 43%);
  transform: translateZ(-11.4px);
}
#sc #sc1 span:nth-of-type(58) {
  position: absolute;
  top: 58px;
  left: 58px;
  height: 84px;
  width: 84px;
  border-radius: 50%;
  border: 1px solid hsl(190deg, 10%, 42%);
  transform: translateZ(-11.6px);
}
#sc #sc1 span:nth-of-type(59) {
  position: absolute;
  top: 59px;
  left: 59px;
  height: 82px;
  width: 82px;
  border-radius: 50%;
  border: 1px solid hsl(190deg, 10%, 41%);
  transform: translateZ(-11.8px);
}
#sc #sc1 span:nth-of-type(60) {
  position: absolute;
  top: 60px;
  left: 60px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 1px solid hsl(190deg, 10%, 40%);
  transform: translateZ(-12px);
}
#sc #sc2 {
  position: relative;
  top: -140px;
  left: 60px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 1px solid whitesmoke;
  transform: translateZ(-12px);
}
#sc #sc3 {
  position: relative;
  top: -212px;
  left: 70px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 1px solid whitesmoke;
  transform: translateZ(-20px);
}

@-webkit-keyframes soucoupe {
  from {
    transform: rotateX(30deg);
  }
  to {
    transform: rotateX(120deg);
  }
}

@keyframes soucoupe {
  from {
    transform: rotateX(30deg);
  }
  to {
    transform: rotateX(120deg);
  }
}/*# sourceMappingURL=style.css.map */