html,
body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  align-items: center;
}

#scene {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 1440px;
  width: 2560px;
  transform: translate(-50%, -50%);
  perspective: 700px;
}

.bouton {
  position: fixed;
  left: 25px;
  cursor: pointer;
  height: 30px;
  width: 30px;
  z-index: 1;
  background: #fff;
  border: 1px solid #005bac;
  border-radius: 50%;
  z-index: 1;
}

.zoomIn {
  top: 25px;
}
.zoomOut {
  top: 70px;
}
.zoomInit {
  top: 115px;
}

#scene .div {
  transform-style: preserve-3d;
}

.conseil {
  position: absolute;
  height: 1440px;
  width: 2560px;
  top: 0;
  left: 0;
  background-image: url("/img/divers/conseil_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.ancelin {
  position: absolute;
  top: 49%;
  left: 31%;
  height: calc(3.6 * 168px);
  width: calc(3.6 * 105px);
  background-image: url("/img/Transparents/Conseil/Père\ Ancelin.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.ancelin:hover {
  background-image: url("/img/Transparents/Conseil/Père\ Ancelin2.png");
  cursor: pointer;
  transform: scale(1.25);
}

.aleksia {
  position: absolute;
  top: 46%;
  left: 23%;
  height: calc(2.4 * 168px);
  width: calc(2.4 * 105px);
  background-image: url("/img/Transparents/Conseil/Aleksia.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 5;
}

.aleksia:hover {
  background-image: url("/img/Transparents/Conseil/Aleksia2.png");
  cursor: pointer;
  transform: scale(1.35);
}

.alexandra {
  position: absolute;
  top: 3%;
  left: 7%;
  height: calc(4 * 168px);
  width: calc(4 * 105px);
  background-image: url("/img/Transparents/Conseil/Dame\ Alexandra.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.alexandra:hover {
  background-image: url("/img/Transparents/Conseil/Dame\ Alexandra2.png");
  cursor: pointer;
  transform: scale(1.3);
}

.jalana {
  position: absolute;
  top: 48.5%;
  left: 59.5%;
  height: calc(1.35 * 168px);
  width: calc(1.35 * 105px);
  background-image: url("/img/Transparents/Conseil/Jalana.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 5;
}

.jalana:hover {
  background-image: url("/img/Transparents/Conseil/Jalana2.png");
  cursor: pointer;
  transform: scale(1.25);
}

.jimmy {
  position: absolute;
  top: 49.5%;
  left: 46%;
  height: calc(1.35 * 168px);
  width: calc(1.35 * 105px);
  background-image: url("/img/Transparents/Conseil/Jimmy.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 5;
}

.jimmy:hover {
  background-image: url("/img/Transparents/Conseil/Jimmy2.png");
  cursor: pointer;
  transform: scale(1.25);
}

.laurain {
  position: absolute;
  top: 47.5%;
  left: 0%;
  height: calc(4.5 * 168px);
  width: calc(4.5 * 105px);
  background-image: url("/img/Transparents/Conseil/Laurain\ SANSREPROCHE.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.laurain:hover {
  background-image: url("/img/Transparents/Conseil/Laurain\ SANSREPROCHE2.png");
  cursor: pointer;
  transform: scale(1.1);
  top: 44.7%;
  left: 1%;
}

.vaillant {
  position: absolute;
  top: 48%;
  left: 75%;
  height: calc(4 * 168px);
  width: calc(4 * 105px);
  background-image: url("/img/Transparents/Conseil/Vaillant\ SANSREPROCHE.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.vaillant:hover {
  background-image: url("/img/Transparents/Conseil/Vaillant\ SANSREPROCHE2.png");
  cursor: pointer;
  transform: scale(1.22);
}

.adhemar {
  position: absolute;
  top: 53%;
  left: 60%;
  height: calc(4 * 168px);
  width: calc(4 * 105px);
  background-image: url("/img/Transparents/Conseil/Adhémar.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.adhemar:hover {
  background-image: url("/img/Transparents/Conseil/Adhémar2.png");
  cursor: pointer;
  transform: scale(1.1);
  top: 51%;
}

.precis {
  position: absolute;
  top: 51.5%;
  left: 94%;
  height: calc(1.35 * 168px);
  width: calc(1.35 * 105px);
  background-image: url("/img/Transparents/Conseil/Précis\ SANSREPROCHE.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 5;
}

.precis:hover {
  background-image: url("/img/Transparents/Conseil/Précis\ SANSREPROCHE2.png");
  cursor: pointer;
  transform: scale(1.25);
  left: 93%;
}

.seleste {
  position: absolute;
  top: 50%;
  left: 51.2%;
  height: calc(1.15 * 168px);
  width: calc(1.15 * 105px);
  background-image: url("/img/Transparents/Conseil/Séleste.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 5;
}

.seleste:hover {
  background-image: url("/img/Transparents/Conseil/Séleste2.png");
  cursor: pointer;
  transform: scale(1.25);
}

.tenebre {
  position: absolute;
  top: 50%;
  left: 88%;
  height: calc(1.25 * 168px);
  width: calc(1.25 * 105px);
  background-image: url("/img/Transparents/Conseil/Ténèbre\ SANSREPROCHE.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 10;
}

.tenebre:hover {
  background-image: url("/img/Transparents/Conseil/Ténèbre\ SANSREPROCHE2.png");
  cursor: pointer;
  transform: scale(1.25);
}

.tharion {
  position: absolute;
  top: 45%;
  left: 50%;
  height: calc(3.75 * 168px);
  width: calc(3.75 * 105px);
  background-image: url("/img/Transparents/Conseil/Tharion.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 3;
}

.tharion:hover {
  background-image: url("/img/Transparents/Conseil/Tharion2.png");
  cursor: pointer;
  transform: scale(1.2);
}

/* ------------------------------ MEMBRES DU CONSEIL ------------------------------ */

header {
  margin: 0;
  padding: 0;
  height:8vh;
  width: 95%;
  margin: auto;
  flex:none;
}

nav {
  margin: 0;
  padding: 0;
  background-color: antiquewhite;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.retour {
  display: block;
  background-image: url('../img/divers/logoDnd.png');
  background-repeat: no-repeat;
  background-size: contain;
  height:90%;
  width: 300px;
}

.sceneConseil {
  margin: 0;
  padding: 0;
  margin-top:2vh;
  height:89vh;
  width: 95%;
  background-color: antiquewhite;
  display: flex;
  justify-content: flex-start;
}

.sceneConseil .txtConseil {
  flex:none;
  width:200px;
}

.sceneConseil img {
  height: 89vh;
  margin-left: 100px;
}